<?xml version="1.0" encoding="utf-8" ?>
<!--动态加载扫描配置文件,扫描间隔时间单位毫秒-->
<!--<configuration>-->
<configuration scan="true" scanPeriod="10000">
    <property name="TIME_ZONE" value="GMT+8"/>
    <appender name="STDOUT_DEBUG" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, ${TIME_ZONE}} %green(%5level) --- [%15thread] %cyan(%-40logger) Line:%-4L : %msg%n
            </Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>debug</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="STDOUT_INFO" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, ${TIME_ZONE}} %green(%5level) --- [%15thread] %cyan(%-40logger) Line:%-4L : %msg%n
            </Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>info</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="STDOUT_WARN" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, ${TIME_ZONE}} %yellow(%5level) --- [%15thread] %cyan(%-40logger) Line:%-4L : %msg%n
            </Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>warn</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="STDOUT_ERROR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, ${TIME_ZONE}} %red(%5level) --- [%15thread] %cyan(%-40logger) Line:%-4L : %msg%n
            </Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <root level="STDOUT">
        <appender-ref ref="STDOUT_DEBUG"/>
        <appender-ref ref="STDOUT_INFO"/>
        <appender-ref ref="STDOUT_WARN"/>
        <appender-ref ref="STDOUT_ERROR"/>
    </root>
</configuration>